body {
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

#user-text {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 250px;
}

#button {
    display: block;
    margin: 0 auto 25px;
    width: 90px;
    height: 30px;
}

h2 {
    text-align: center;
}

#empty-textarea, #calc-results {
    display: none;
}

p {
    font-size: 1.1em;
}

span {
    font-weight: bold;
}