#input {
    width: 375px;
}

textarea {
    resize: none;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    float: right;
    margin-top: 10px;
}

#output {
    margin-top: 100px;
}