*
{
	padding: 0;
	margin: 0;
}

body
{
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #ddd;
    text-align: center;
}
div{
	transition: all 1s ease-in;
	opacity: 0;
	border-radius: 5px;
}
.container{
	width: 70%;
	height: 100vh;
	margin-left: 15%;

}
#labelArea{
	float:left;
	margin-top: 2%;
	font-size: 18pt;
	color:#aaa;
}

#inputArea{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 40%;

	font-size: 14pt;
	
	border-color: #bbb;
	border-radius: 5px;
	background: #c8c8c8;
	padding: 5px;
	resize: none;
	transition: all 1s;
}
#inputArea:focus { 
	outline: none;
    box-shadow: 0px 0px 1px 1px rgba(0, 150, 0, 0.5);
    background-color: #cfcfcf;
}

#calculateButton{
	float: right;
	margin-top: 1%;
	border-radius: 5px;
	width: 150px;
	height: 50px;

	font-size: 18px;

	border: 1px solid #bbb; 
	background: #ededed;
	color: #999;
	transition: all .25s;
}
#calculateButton:focus { 
	outline: none;
}
#calculateButton:active { 
	background: #bcb;
}
#calculateButton:hover{
	color: #777;
	//background: #ccc;
	box-shadow: 0px 0px 1px 1px rgba(50, 155, 50, 0.5);
}

#messages{
	display: inline-block;
	width: 100%;
}

.result{
	display: block;
	margin-top: 1%;
	opacity: .75;
	color: #333;
	width: 30%;
	height: 5%;
	padding: 5px;
	text-align: left;
	background: #ccc;
	border-left: 5px solid #ccc;
}
.result.success{
	border-left: 5px solid #aca;
}
.result.error{
	border-left: 5px solid #caa;
}